from os.path import join as opj, dirname
import logging

TELEGRAM_TOKEN = 'TELEGRAM-TOKEN'
UNAUTHORIZED_MESSAGE = 'Unauthorized user, please contact my master'
USERS_WHITE_LIST = [00000, 000001] # ID of telegram users who can communicate with bot
TRANSMISSION_HOST = '' 
TRANSMISSION_PORT = 29091
TRANSMISSION_USERNAME = 'admin'
TRANSMISSION_PASSWORD = 'password'
PROXY = 'socks5://tor:9050' 
LOG_PREFIX = 'rutorbot'
LOG_LEVEL = logging.INFO
DB_PATH = opj(dirname(__file__),'var', 'rutor.db') # Path where DB will be stored
TIMEOUT = 60 # rutor connection timeout
SIZE_LIMIT = 0 # rutor torrent size limit - 0 unlimiter

